@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.avatar {
  width: 37px;
  height: 37px;
  aspect-ratio: 1;
  object-fit: cover;
}
@include media-breakpoint-up(md) {
  .avatar {
    height: 48px;
    width: 48px;
  }
}
